body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f8b5d3;
  }
  
  header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #320a2b;
  }
  h2{color: #320a2b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  
  
  main {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f9cbef;
    border-radius: 10px;
    box-shadow: 1 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 10px;
  }
  
  header {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 95%;
    height: 50px;
    padding: 10px;
    border: 2px solid #3b0834;
    background-color: rgb(169, 123, 156);
    border-radius: 5px;
    resize: none;
  }
  
  .button {
    display:contents;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  button {
    font-family: Verdana,  Tahoma, sans-serif;
    padding: 10px 20px;
    background-color: #e9e2c7; /* blue */
    color: rgb(73, 41, 17);
    border: 2px solid #3b0834;
    border-radius: 12px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b58b8b; /* blue */
  }
  
  .kalkulasi {
    text-align: center;
    margin-top: 20px;
  }
  
  #rumus {
    width: 100%;
    padding: 10px;
    border: 2px solid #320631;
    border-radius: 5px;
    resize: none;

  
  /* Add more styles as needed for specific elements or layout */

  